# Database / environment variables
USE_POSTGRES=True
DB_NAME=babycare_db
DB_USER=postgres
DB_PASSWORD=bismillah
DB_HOST=localhost
DB_PORT=5432

# Development
DEBUG=True
SECRET_KEY=replace-this-secret
